
<!DOCTYPE html>
<html lang="en">
<% include ../partials/header %>
<body>
    <% include ../partials/nav %>
    <main>
        <h1>Sign Up</h1>
        <form id="signup-form" method="POST" action="/register"> 
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" required>
          
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required>
          
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required>
          
          <label for="confirm-password">Confirm Password:</label>
          <input type="password" id="confirm-password" name="confirm-password" required>
          
          <button type="submit">Sign Up</button>
          <p id="error-message"></p>
        </form>
        
        <p>Already have an account? <a href="/login">Log in</a></p>
        
    </main>
    <% include ../partials/footer %>
    <% include ../partials/scripts %>
</body>
</html>
